.header-main-wrapper {
    .header-main{
        .et_b-icon svg{
            fill: #000000;
        }
    }
    &.sticky-on {
        .header-main{
            .header-main-menu.et_element-top-level .menu>li>a:hover,
            .header-main-menu.et_element-top-level .menu>.current-menu-item>a,
            .header-main-menu.et_element-top-level.menu-items-custom .menu>li>a:hover,
            .header-main-menu.et_element-top-level.menu-items-custom .menu>.current-menu-item>a {
                color: $complementary-color !important;
            }
    
            .header-main-menu.et_element-top-level .menu>li>a::before,
            .header-main-menu.et_element-top-level .menu>.current-menu-item>a::before {
                background-color: $complementary-color !important;
            }
            .et_b-icon svg{
                fill: #ffffff;
            }
        }
    }

}



li.menu-item.side-menu-icon {
    a.item-link.type-img {
        display: block;
        padding-left: 0.5em;

        img {
            height: 1.5em;
            width: auto;
            position: absolute;
            left: -1.75em;
            top: 0.65em;
        }
    }
}