.woocommerce-checkout-payment{
    ul.wc_payment_methods.payment_methods{
        li.wc_payment_method{
            padding: 1em 0;
            border-bottom: 1px solid $main-color;
            label img{
                display: block;
            }
            input.input-radio{
                vertical-align: top;
                margin-top: 0.5em;
            }
        }    
    }
}

.woocommerce-shipping-totals td{
    position: relative;
    #shipping_method{
        position: absolute;
        top: -2.7em;
        right: 0;
        li{
            white-space: nowrap !important;
            flex-direction: column !important;
            label{
                width: 100% !important;
            }
        }
    }
}