/*!
 Theme Name:   XStore Child
 Theme URI:    http://8theme.com/
 Description:  XStore Child Theme
 Author:       8theme
 Author URI:   http://8theme.com
 Template:     xstore
 Version:      0.0.1
 Text Domain:  xstore-child
*/

/**abstracts**/
@import
  'abstracts/variables';

/**components**/
@import
  'components/header';

/**pages**/
@import
  'pages/single-product',
  'pages/checkout',
  'pages/faq',
  'pages/contacto';


.dokan-form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, textarea.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: $main-color !important;
}

.woocommerce{
  .anr_captcha_field{
    text-align: center;
    .anr_captcha_field_div{
      display: inline-block;
      margin: 0 auto;
    }
  }
}

.woocommerce-info{
  color: #000000 !important;
}